body {
  background-color: #24353f;
}

.custom-input {
  color: #fff !important;
  background-color: transparent;
}

.custom-input::placeholder {
  color: #b6b6b6;
}

.login , .box{
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.navbar-collapse {

   flex-grow: 0;
  
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #17a2b8;
  line-height: 48px;
}
span {
  color: #fff;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
}

.login span a:hover {
  text-decoration: underline !important;
}
